<nb-card accent="info">
  <nb-card-header> Despesas </nb-card-header>
  <nb-card-body>
    <div class="grid grid-rows-1 grid-cols-5 mb-2 text-xl">
      <div class="p-2">Delete</div>
      <div class="p-2">Checkbox</div>
      <div class="p-2">Description</div>
      <div class="p-2">Value</div>
      <div class="p-2">Date</div>
    </div>
    <div class="text-white bg-gray-800 text-xl p-2">Fixa</div>
    <div
      *ngFor="let item of fixedExpense; let i = index"
      class="grid grid-rows-1 grid-cols-5"
      [ngClass]="{ 'bg-gray-200': i % 2 == 0 }"
    >
      <div class="p-2">
        <button nbButton status="danger" size="tiny">REMOVE</button>
      </div>
      <div class="p-2">
        <nb-checkbox [checked]="item.isDone">Done</nb-checkbox>
      </div>
      <div class="p-2">
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Description"
          [value]="item.description"
        />
      </div>
      <div class="p-2">
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Value"
          [value]="item.value"
        />
      </div>
      <div class="p-2">
        <input
          nbInput
          placeholder="Form Picker"
          [nbDatepicker]="formpicker"
          [date]="item.date"
          [value]="item.date"
        />
        <nb-datepicker
          #formpicker
          [nbDatepicker]="item.date"
          [date]="item.date"
        ></nb-datepicker>
      </div>
    </div>
    <button class="my-2" nbButton status="info" size="large">ADD</button>
    <div class="text-white bg-gray-800 text-xl p-2">Variavel</div>
    <div
      *ngFor="let item of variableExpense; let i = index"
      class="grid grid-rows-1 grid-cols-5"
      [ngClass]="{ 'bg-gray-200': i % 2 == 0 }"
    >
      <div class="p-2">
        <button nbButton status="danger" size="tiny">REMOVE</button>
      </div>
      <div class="p-2">
        <nb-checkbox [checked]="item.isDone">Done</nb-checkbox>
      </div>
      <div class="p-2">
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Description"
          [value]="item.description"
        />
      </div>
      <div class="p-2">
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Value"
          [value]="item.value"
        />
      </div>
      <div class="p-2">
        <input
          nbInput
          placeholder="Form Picker"
          [nbDatepicker]="formpicker"
          [date]="item.date"
          [value]="item.date"
        />
        <nb-datepicker
          #formpicker
          [nbDatepicker]="item.date"
          [date]="item.date"
        ></nb-datepicker>
      </div>
    </div>
    <button class="my-2" nbButton status="info" size="large">ADD</button>
  </nb-card-body>
  <nb-card-footer>
    <button
      (click)="onSave()"
      class="my-2"
      nbButton
      status="success"
      size="large"
    >
      SAVE
    </button>
  </nb-card-footer>
</nb-card>
